@import "../keyframes/fadeInUp.scss";

.projects {
  display: flex;
  justify-content: space-between;
  padding-bottom: 150px;
  flex-wrap: wrap;
}

.project-card {
  position: relative;
  height: 300px;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  margin: 30px;
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: transparent;
    border-radius: 10px;

  }
  &__logo{
    width: 40px;
    padding: 5px;
  }

  &:hover {
    border: none;

    .overlay {
      opacity: 1;
    }

    .project-card__image {
      filter: blur(4px);
      transform: scale(1.1);
      opacity: 0.5;

    }

    .project-card__text {
      opacity: 1;
      scale: 0.8;
    }
  }
}

.animate-in-view {
  animation: fadeInUp 1s forwards;
  .project-card{
    opacity: 1;
  }
}


.overlay {
  transition: 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
}

.project-card__text {
  transition: 0.5s ease;
  font-size: 35px;
  opacity: 0;
}
