@import "../keyframes/fadeInUp.scss";

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: transparent;

  &__logo {
    height: 20px;
    margin-right: 10px;
    opacity: 0; 
  }
}

.animate-in-view {
  animation: fadeInUp 1s forwards ;
  color: black;
  .skill__logo {
    opacity: 1; 
  }
}