.skills{
  display: flex;
  justify-content: space-between;
  &__categories{
    font-size: 25px;
    text-align: center;
  }
}

@media (max-width: $tablette) {
  .navbar{
    font-size: 10px;
  }
}


@media (max-width: $mobile ) {
  .skills{
    display: flex;
    flex-direction: column;
  }
  
}