.skills{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__categories{
    font-size: 25px;
    text-align: center;
    margin: 40px;
  }
}

@media (max-width: $tablette ) {
  .skills{
    justify-content: center;
  }
  
}

@media (max-width: $mobile ) {
  .skills{
    justify-content: center;
  }
  
}